* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  position: relative;
}

header {
  width: 100%;
  background-color: #060e10;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
}
.panier {
  width: 400;
  height: 420px;
  position: absolute;

  border-radius: 40px;
  top: 50px;
  right: 6px;
  background-color: #fffbfb;
  color: #f43a3a;
  font-size: 20px;

  z-index: 100;
}
.monpanier {
  padding-top: 30px;
  text-align: center;
}
hr {
  margin-top: 8px;
  height: 2px;
  background-color: black;
}

.gridpanier {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 300px;
  margin-left: 15px;
}
.test {
  padding-top: 20px;
  height: 30px;
  display: flex;
  /* justify-content: center; */
}
.test .namep {
  width: 50%;
}
.test .price {
  /* padding-right: 20px; */
  font-size: 20px;
  margin-left: 10px;
}
.price {
  padding-left: 10px;
}

.panierInput {
  padding: 10px 0px;
  width: 70px;
}

.logo {
  color: white;
  font-size: 20px;
}
.navbar {
  display: flex;
  gap: 35px;
}

.navbar a {
  border-radius: 4px;
  transition: ease 0.4s;
  color: white;
}

.bi-cart4 {
  cursor: pointer;
  padding-left: 30px;
  z-index: 0;
}

.menu {
  display: grid;
  grid-template-rows: 1fr 6fr;
}
.up {
  padding-top: 20px;
  text-align: center;
  line-height: 35px;
}
.up h1 {
  font-size: 28px;
}

.down {
  padding-top: 20px;
  text-align: center;
  line-height: 35px;
}
.down {
  display: grid;
  grid-template-columns: 1fr;
}
.left {
  width: 100%;
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
}

.button {
  padding: 1rem 4.2rem;
  height: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  border: 1px solid #707070;
  outline: none;
  cursor: pointer;
}

.boxConatainair {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  justify-items: center;
}
.box {
  background-color: #ffffff;
  width: 78%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  border: 1px solid #707070;
}

.box .imgbf {
  background: url(breackfast.jpg);
  background-size: cover;
  background-position: center;
}

.box .imgLc {
  background: url(lunch.jpg);
  background-size: cover;
  background-position: center;
}

.box .imgdr {
  background: url(dinner.jpg);
  background-size: cover;
  background-position: center;
}

.orderbtn {
  padding: 0.2rem 0.5rem;
  background-color: #f65617;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}

.orderbtn:hover {
  background-color: #ff7a46;
}
.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 3rem;
  padding-right: 25px;
  padding-left: 50px;
  padding-top: 80px;
  margin-bottom: 80px;
}

.news-text h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.news-text p {
  font-size: 1rem;
  color: black;
  line-height: 30px;
}
.newsletter form {
  max-width: 90%;
  width: 450px;
  position: relative;
}
.newsletter .newsinput {
  display: inline-block;
  width: 100%;
  padding: 20px 150px 20px 30px;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  outline: none;
  border: none;
  border-radius: 15px;
}
.newsletter .newsinput2 {
  display: inline-block;
  position: absolute;
  outline: none;
  border: none;
  padding: 14px 30px;
  border-radius: 15px;
  background: #f65617;
  color: var(--bg-color);
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.footer {
  background-color: black;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.social-media {
  display: flex;
  width: 200px;
  justify-content: space-between;
  font-size: 30px;
}
.footer-logo {
  color: white;
  font-family: Rigot;
  font-size: 67px;
  color: #ff7f7f;
}
.footer-logo i {
  color: white;
  font-size: 12px;
  margin-bottom: 90px;
}
.footer .ico-fa {
  font-size: 20px;
  color: white;

  display: block;
  margin-top: 15px;
}
.footer .ico-fa {
  font-size: 15px;
  color: white;
  margin-left: 40px;
  display: inline-block;
}
.copyright .ico-fa {
  margin-left: 0px;
}
.copyright {
  color: white;
  font-size: 16px;
  margin-left: 70px;
  padding-top: 15px;
  margin-bottom: 15px;
}

.resp-ico,
.clo-ico {
  display: none;
}
.bi-cart4 {
  font-size: 18px;
}

@media (max-width: 390px) {
  .navbar li {
    display: none;
  }
  .newsletter {
    flex-wrap: wrap;
  }
  .about-text {
    padding-left: 0px;

    text-align: center;
  }
  .home-text {
    text-align: center;
    padding-left: 0px;
  }
  .clo-ico {
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .resp-ico {
    color: white;
    cursor: pointer;
    font-size: 30px;
    display: block;
  }
  .newsletter {
    padding-top: 90px;
  }
  .newsletter form {
    width: 300px;
  }
  .newsletter form input::placeholder {
    font-size: 16px;
  }
  .bi-cart4 {
    font-size: 25px;
  }
  .menu {
    grid-template-rows: 0.6fr 6fr;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.humberger {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.totalbtn {
  padding: 0.7rem 8.6rem;
  background-color: #f65617;
  border: none;
  cursor: pointer;
}
.totalbtn:hover {
  background-color: #ff7a46;
}

.remove {
  padding: 0rem 2rem;
}

.mobile-nav {
  display: none;

  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 100px;
  margin-top: 0px;
  height: 100%;
  position: fixed;
}
.mob-options {
  margin-top: 40px;
  text-align: center;
}
.mobile-nav ul li {
  margin-bottom: 30px;
}
.mobile-nav a {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.shownav {
  display: flex;
}
